/* Navigation bar */
#menu {
  background: #2A4168;
  color: #FFF;
  height: 52px;
  padding-left: 18px;
  border-radius: 31px;
}

#menu ul, #menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none
}

#menu ul {
  width: 100%;
}

#menu li {
  float: left;
  display: inline;
  position: relative;
}

#menu a {
  display: block;
  line-height: 52px;
  padding: 0 14px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 22px;
}

#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}

#menu li a:hover {
  color: #0099CC;
  background: #F2F2F2;
}

#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 52px;
  width: 100%;
  opacity: 0;
  cursor: pointer
}

#menu label {
  display: none;
  line-height: 52px;
  text-align: center;
  position: absolute;
  left: 35px
}

#menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 20px;
}

#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
}

#menu ul.sub-menus li {
  display: block;
  width: 100%;
}

#menu ul.sub-menus a {
  color: #FFFFFF;
  font-size: 16px;
}

#menu li:hover ul.sub-menus {
  display: block
}

#menu ul.sub-menus a:hover {
  background: #F2F2F2;
  color: #444444;
}

@media (max-width: 1028px) {
  #menu {
    position: relative
  }

  #menu ul {
    background: #111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none
  }

  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }

  #menu ul.sub-menus a {
    padding-left: 30px;
  }

  #menu li {
    display: block;
    float: none;
    width: auto;
  }

  #menu input, #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block
  }

  #menu input {
    z-index: 4
  }

  #menu input:checked+label {
    color: white
  }

  #menu input:checked+label:before {
    content: "\00d7"
  }

  #menu input:checked~ul {
    display: block
  }
}

/* HTML Elements */
body {
  background-color: #dff1ff;
  color: #000e95;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.training a {
  color: black;
  text-decoration: none;
}

.training a:hover {
  background-color: white;
  padding: 10px;
  border-radius: 200px;
  color: blue;
  position: relative;
}

p {
  font-family: 'Merriweather', serif;
}

hr {
  border-color: #465471;
  border-style: dotted;
  border-width: 13px;
  border-bottom: none;
  height: 0;
  width: 7%;
}

div {
  padding: 50px 10px;
  margin: 0;
  border: 0;
}

/* Home Section */
.home-phone {
  display: none;
}

img {
  border-radius: 600px;
}

/* Call Me Button */
button {
  box-shadow: inset 0 0 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 50px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #263666;
}

button:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}

button:active {
  position: relative;
  top: 1px;
}

/* Copy Right Section */
.copyright {
  text-align: center;
  background-color: #2a4168;
  color: white;
  margin: 0;
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 1px;
  border: 0;
}

.copyright a {
  color: white;
}

.copyright h6 {
  font-weight: lighter;
}

/* --------------------------Phone-------------------------- */
@media (max-width: 1028px) {

  /* Navigation bar */
  #menu a {
    font-size: 25px;
  }

  /* HTML Elements */
  body {
    background-color: white;
    text-align: center;
  }

  p {
    font-size: 3rem;
  }

  h3 {
    font-size: 8rem;
    font-weight: bolder;
  }

  div {
    padding: 350px 100px;
    margin: 0;
    border: 0;
  }

  hr {
    display: none;
  }

  ul {
    list-style-type: none;
  }

  ol {
    list-style-type: none;
  }

  /* Home Section */
  .home-computer {
    display: none;
  }

  .home-phone {
    background-color: #dff1ff;
    display: block;
  }

  .home-phone h1 {
    font-size: 5.5rem;
  }

  /* Education Section */
  .education ul {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  /* Training Section */
  .training {
    background-color: #dff1ff;
  }

  .training ul {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  /* Hobbies Section */
  .hobbies ol {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  /* Skills Section */
  .skills {
    background-color: #dff1ff;
  }

  .skills td {
    font-size: 3rem;
    font-weight: bold;
  }

  /* Languages Section */
  .languages td {
    font-size: 3rem;
    font-weight: bold;
  }

  /* Call Me Button */
  button {
    font-weight: normal;
    font-size: 4.5rem;
    border-radius: 100px;
    padding: 20px 25px;
  }
}
